<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.brandwebdirect.vedicnumerology"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only  -->

  <name>Vedic Numerology </name>

  <description>
      The most popular Indian Vedic Numerology, now on mobile app. Thank you everyone who demanded this app. The app is small and light weight and does exactly what its purpose is. May you achieve all success.
  </description>

  <author href="https://www.brandwebdirect.com" email="narottamfor-vedicnumerology@yahoo.co.in">
      Narottam Agarwala
  </author>

<icon src="icon.png" />
<gap:splash src="icon.png" />
</widget>